/* 页面中所用到字体 */
.font12px{font-size:12px;}
.font13px{font-size:13px;}
.font14px{font-size:14px;}
.font15px{font-size:15px;}
.font18px{font-size:18px;}
.font25px{font-size:25px;}
.font30px{font-size:30px;}
.font35px{font-size:35px;}
/* 页面上用到的颜色 */
.fbbbbbb{color:#bbb;}
.fffffff{background:#fff;}
.f999999{color:#999;}
.f000000{color:#000;}
.f333333{color:#333;}
.f9a579e{color:#9a579e;}
.f888888{color:#888;}
/* 控制文本居中问题 */
.center{text-align:center;}
